PORT=4000
DB_CNN=mongodb+srv://username:password@cluster.mongodb.net/database_name
JWT_SECRET=your-ultra-secret-jwt-key
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
FRONTEND_URL=http://localhost:5173